{% extends "base.html" %}
{% block title%}
Secure Chat | Banned
{% endblock %}
{% block css%}
<style>
</style>
{% endblock %}

{% block content%}

<section class=" gradient-custom" style="font-family: Poppins;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-6">
          <div class="card" style="border-radius: 1rem;  color: #1a3166; font-weight: 400;" >
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-3 mt-md-4 pb-3">
  
                <h2 class="mb-5" style="font-weight: 500;">You are <b>banned</b>!</h2>
                <p class="pt-4 pb-5">You have been <b>banned</b> for your inappropriate behavior on our site. If you think we have made a mistake, you can contact us:</p>

                <a href="mailto:noreply.info.securechat@gmail.com"><button class="btn cssbutton2 btn-lg w-100">Contact us</button></a>
                
  
                  {% endblock %}


            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
