{% extends "base.html" %}
{% block title%}
Secure Chat | Reset Password
{% endblock %}
{% block css%}
<style>
</style>
{% endblock %}

{% block content%}

<section class=" gradient-custom" style="font-family: Poppins;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-6">
          <div class="card" style="border-radius: 1rem;  color: #1a3166; font-weight: 400;" >
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-3 mt-md-4 pb-3">
  
                <h2 class="mb-4" style="font-weight: 500;">Password Reset Sent</h2>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                  If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                
  
        

            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
