{% extends "base.html" %}
{% block title%}
Secure Chat | Reset Password
{% endblock %}
{% block css%}
<style>
</style>
{% endblock %}

{% block content%}

<section class=" gradient-custom" style="font-family: Poppins;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-6">
          <div class="card" style="border-radius: 1rem;  color: #1a3166; font-weight: 400;" >
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-3 mt-md-4 pb-3">
  
                <h2 class="mb-5" style="font-weight: 500;">Password Reset Complete</h2>
                <p class="pt-4 pb-5">Your password has been set. You may go ahead and log in now.</p>

                <a href="/login"><button class="btn cssbutton2 btn-lg w-100">Login</button></a>
                
  
                  {% endblock %}


            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
