{% extends "base.html" %}
{% block title%}
Secure Chat | SignUp
{% endblock %}
{% block css%}
<style>
    .errorlist{
        list-style-type: none;
        color:red;
    }
</style>
{% endblock %}
{% block content %}
<section class=" gradient-custom" style="font-family: Poppins;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-6">
          <div class="card" style="border-radius: 1rem;  color: #1a3166; font-weight: 400;" >
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-3">
  
                <h2 class="mb-5" style="font-weight: 500;">Sign Up</h2>
 
                <form class="form-group" method ="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                <div class="form-outline form-dark mb-4">
                    <p>{{form.username}}</p>
                    {{form.username.errors}}
                    <div class=row>
                        <div class="col-6">
                        <p>{{form.first_name}}</p>
                        </div>
                    <div class="col-6">
                        <p>{{form.last_name}}</p>
                    </div>
                    {{form.firstname.errors}} {{form.lastname.errors}}
                    </div>
                    <p>{{form.email}}</p>
                    {{form.email.errors}}
                    <p>{{form.password1}}</p>
                    {{form.password1.errors}}
                    <p>{{form.password2}}</p>
                    {{form.password2.errors}}
                  
                </div>
  
                <input class="btn cssbutton2 btn-lg w-100" type="submit" value="Sign Up">

              </div>
  
              <div>
                <p class="mb-2 mt-0 text-center">Already have an account? <a href="/login">Log In</a>
                </p>
                <br>
 
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}